@use '../utils/' as *;
@use '../base/' as *;

.about {
  &--section {
    padding: 2.5rem 0rem 2.5rem;
    @include media-query(breakpoint-lg) {
      padding: 7.5rem 0rem 7.5rem;
    }
  }
  &__title {
    margin-bottom: 1.875rem;
    @include media-query(breakpoint-lg) {
      margin-bottom: 3.75rem;
    }
  }
}
