@use '../utils/' as *;
@use '../base/' as *;

.asset-detail {
    padding-bottom: 3rem;
    @include media-query(breakpoint-md) {
        padding-bottom: 4rem;
    }
    @include media-query(breakpoint-xl) {
        padding-bottom: 6.375rem;
    }

    &__inner {
        @include media-query(breakpoint-lg) {
            gap: 1.375rem;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 1.875rem;
        @include media-query(breakpoint-lg) {
            flex: 1 1 auto;
            min-width: 0;
        }
    }

    // Slider Part
    &__slider {
        margin-bottom: 1.875rem;
        @include media-query(breakpoint-xl) {
            margin-bottom: 2.5rem;
        }
        @include media-query(breakpoint-xxl) {
            height: 31rem;
            gap: 0 1.25rem;
        }
        @include media-query(breakpoint-xxl-2) {
            height: 35.25rem;
            gap: 0 1.875rem;
        }

        // Featured Item Slider
        & .featured {
            &--slider {
                width: 100%;
            }

            &__item {
                border-radius: .625rem;
                overflow: hidden;
                background-color: $white-color;
                border: .0625rem solid $light-gray;
                width: 100%;
                aspect-ratio: 1 / 0.681;
                @include media-query(breakpoint-xxl) {
                    border-radius: .9375rem;
                }
            }

            .swiper {
                &-pagination {
                    bottom: .625rem;
                    @include media-query(breakpoint-md) {
                        bottom: 1.25rem;
                    }
                    &-bullet {
                        width: .5rem;
                        height: .5rem;
                        background-color: $cool-gray;
                        opacity: 1;
                        margin: 0 .3125rem;
                        @include transition-common;

                        &-active {
                            background-color: $white-color;
                        }
                    }
                }
            }

            .badge {
                position: absolute;
                left: 0;
                top: .9375rem;
                z-index: 1;
                @include media-query(breakpoint-xxl) {
                    top: 1.25rem;
                }
            }
            .btn--wishlist {
                position: absolute;
                right: .9375rem;
                top: .9375rem;
                z-index: 1;
                @include media-query(breakpoint-xxl) {
                    width: 2.25rem;
                    height: 2.25rem;
                    top: 1.25rem;
                }
            }
        }

        // Thumb Images Slider
        & .thumb {
            width: 5.75rem;
            flex-shrink: 0;

            & .swiper {
                &-slide {
                    width: 100%;
                    border-radius: .625rem;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }
    }

    // Detail Information Part
    &__info {
        .details {
            &-info {
                &__blocks {
                    gap: 1rem;
                    @include media-query(breakpoint-sm) {
                        gap: 1.5rem;
                    }
                    @include media-query(breakpoint-xl) {
                        gap: 1.875rem;
                    }
                    .block {
                        &-item {
                            padding: 1.25rem;
                            border-radius: .625rem;
                            border: .0625rem solid $light-gray;
                            box-shadow: 0 .25rem .25rem 0 rgba(153, 153, 153, 0.07);
                            &--overview {
                                background: $bg-gradient-light;
                            }

                            &__head {
                                margin-bottom: 1.5rem;
                                @include media-query(breakpoint-xl) {
                                    margin-bottom: 1.875rem;
                                }
                            }

                            &__title {
                                color: $black-color;
                                font-size: 1.125rem;
                                @include media-query(breakpoint-xl) {
                                    font-size: 1.25rem;
                                }
                                @include media-query(breakpoint-xxl-2) {
                                    font-size: 22p;
                                }
                            }

                            &__para {
                                & a {
                                    color: $primary;
                                    &:hover {
                                        color: $secondary;
                                    }
                                }
                            }

                            & .btn--trans {
                                min-width: auto;
                                height: auto;
                            }

                            &__wrapper {
                                gap: 1.5rem;
                                @include media-query(breakpoint-md) {
                                    gap: 1.875rem;
                                }
                                @include media-query(breakpoint-xxl-2) {
                                    justify-content: space-between;
                                }
                                .item {
                                    width: calc(50% - .75rem);
                                    @include media-query(breakpoint-md) {
                                        width: calc(33.3333% - 1.25rem);
                                    }
                                    @include media-query(breakpoint-xxl-2) {
                                        width: 10.25rem;
                                    }

                                    .icon {
                                        width: 2.5rem;
                                        height: 2.5rem;
                                        margin-bottom: .625rem;
                                        @include media-query(breakpoint-xl) {
                                            width: 3.125rem;
                                            height: 3.125rem;
                                        }
                                        &__image {
                                            width: 48%;
                                            height: 48%;
                                        }
                                        &--trans {
                                            width: 1.875rem;
                                            height: 1.875rem;
                                            margin-bottom: .5rem;

                                            & .icon__image {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }

                                    .title {
                                        font-size: 1rem;
                                        margin-bottom: .375rem;
                                        @include media-query(breakpoint-xl) {
                                            font-size: 1.125rem;
                                        }
                                    }

                                    .para {
                                        font-size: .875rem;
                                        @include media-query(breakpoint-xl) {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }

                            &__slider {
                                margin: 0 -1.5625rem;
                                padding: 0 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

    & .card--explore {
        box-shadow: unset;

        & .btn {
            &--wishlist {
                top: .75rem;
                right: .75rem;
            }
            &--recommended__card {
                @include media-query(breakpoint-xl) {
                    min-width: 4rem;
                }
                @include media-query(breakpoint-xxl-2) {
                    min-width: 4.6875rem;
                }
            }
        }
    }
}
