@use '../utils/' as *;
@use '../base/' as *;

.asset-detail {
    padding-bottom: 48px;
    @include media-query(breakpoint-md) {
        padding-bottom: 64px;
    }
    @include media-query(breakpoint-xl) {
        padding-bottom: 102px;
    }

    &__inner {
        @include media-query(breakpoint-lg) {
            gap: 22px;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 30px;
        @include media-query(breakpoint-lg) {
            flex: 1 1 auto;
            min-width: 0;
        }
    }

    // Slider Part
    &__slider {
        margin-bottom: 30px;
        @include media-query(breakpoint-xl) {
            margin-bottom: 40px;
        }
        @include media-query(breakpoint-xxl) {
            height: 496px;
            gap: 0 20px;
        }
        @include media-query(breakpoint-xxl-2) {
            height: 564px;
            gap: 0 30px;
        }

        // Featured Item Slider
        & .featured {
            &--slider {
                width: 100%;
            }

            &__item {
                border-radius: 10px;
                overflow: hidden;
                background-color: $white-color;
                border: 1px solid $light-gray;
                width: 100%;
                aspect-ratio: 1 / 0.681;
                @include media-query(breakpoint-xxl) {
                    border-radius: 15px;
                }
            }

            .swiper {
                &-pagination {
                    bottom: 10px;
                    @include media-query(breakpoint-md) {
                        bottom: 20px;
                    }
                    &-bullet {
                        width: 8px;
                        height: 8px;
                        background-color: $cool-gray;
                        opacity: 1;
                        margin: 0 5px;
                        @include transition-common;

                        &-active {
                            background-color: $white-color;
                        }
                    }
                }
            }

            .badge {
                position: absolute;
                left: 0;
                top: 15px;
                z-index: 1;
                @include media-query(breakpoint-xxl) {
                    top: 20px;
                }
            }
            .btn--wishlist {
                position: absolute;
                right: 15px;
                top: 15px;
                z-index: 1;
                @include media-query(breakpoint-xxl) {
                    width: 36px;
                    height: 36px;
                    top: 20px;
                }
            }
        }

        // Thumb Images Slider
        & .thumb {
            width: 92px;
            flex-shrink: 0;

            & .swiper {
                &-slide {
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }
    }

    // Detail Information Part
    &__info {
        .details {
            &-info {
                &__blocks {
                    gap: 16px;
                    @include media-query(breakpoint-sm) {
                        gap: 24px;
                    }
                    @include media-query(breakpoint-xl) {
                        gap: 30px;
                    }
                    .block {
                        &-item {
                            padding: 20px;
                            border-radius: 10px;
                            border: 1px solid $light-gray;
                            box-shadow: 0 4px 4px 0 rgba(153, 153, 153, 0.07);
                            &--overview {
                                background: $bg-gradient-light;
                            }

                            &__head {
                                margin-bottom: 24px;
                                @include media-query(breakpoint-xl) {
                                    margin-bottom: 30px;
                                }
                            }

                            &__title {
                                color: $black-color;
                                font-size: 18px;
                                @include media-query(breakpoint-xl) {
                                    font-size: 20px;
                                }
                                @include media-query(breakpoint-xxl-2) {
                                    font-size: 22p;
                                }
                            }

                            &__para {
                                & a {
                                    color: $primary;
                                    &:hover {
                                        color: $secondary;
                                    }
                                }
                            }

                            & .btn--trans {
                                min-width: auto;
                                height: auto;
                            }

                            &__wrapper {
                                gap: 24px;
                                @include media-query(breakpoint-md) {
                                    gap: 30px;
                                }
                                @include media-query(breakpoint-xxl-2) {
                                    justify-content: space-between;
                                }
                                .item {
                                    width: calc(50% - 12px);
                                    @include media-query(breakpoint-md) {
                                        width: calc(33.3333% - 20px);
                                    }
                                    @include media-query(breakpoint-xxl-2) {
                                        width: 164px;
                                    }

                                    .icon {
                                        width: 40px;
                                        height: 40px;
                                        margin-bottom: 10px;
                                        @include media-query(breakpoint-xl) {
                                            width: 50px;
                                            height: 50px;
                                        }
                                        &__image {
                                            width: 48%;
                                            height: 48%;
                                        }
                                        &--trans {
                                            width: 30px;
                                            height: 30px;
                                            margin-bottom: 8px;

                                            & .icon__image {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }

                                    .title {
                                        font-size: 16px;
                                        margin-bottom: 6px;
                                        @include media-query(breakpoint-xl) {
                                            font-size: 18px;
                                        }
                                    }

                                    .para {
                                        font-size: 14px;
                                        @include media-query(breakpoint-xl) {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }

                            &__slider {
                                margin: 0 -25px;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    & .card--explore {
        box-shadow: unset;

        & .btn {
            &--wishlist {
                top: 12px;
                right: 12px;
            }
            &--recommended__card {
                @include media-query(breakpoint-xl) {
                    min-width: 64px;
                }
                @include media-query(breakpoint-xxl-2) {
                    min-width: 75px;
                }
            }
        }
    }
}
