@use "../utils/" as *;
@use "../base/" as *;

.blogs-cards {
  --bs-gutter-x: 30px;
}

.blogs {
  &--title {
    font-size: 24px;

    @include media-query(breakpoint-md) {
      font-size: 2rem !important;
      line-height: 1.5;
    }

    @include media-query(breakpoint-lg) {
      font-size: 2.5rem !important;
      line-height: 1.5;
    }

    @include media-query(breakpoint-xl) {
      font-size: 3rem !important;
      line-height: 1.5;
    }
  }
}

.see-all-btn {
  margin-top: 60px;
  display: flex;
  //   min-width: 200px;
  border-radius: 30px;
  border: 1.5px solid var(--Primary---blue, #053c5a);
  //   height: 60px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--Primary---blue, #053c5a);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include media-query(breakpoint-md) {
    min-height: 60px;
    min-width: 200px;
  }
}
