@use '../utils/' as *;
@use '../base/' as *;

// ===== Styling for blogs page ===== //
.blogs-cards {
    --bs-gutter-x: 1rem;
    @include media-query(breakpoint-xxl) {
        --bs-gutter-x: 1.875rem;
    }
}

.blogs {
    &--title {
        font-size: 1.5rem;

        @include media-query(breakpoint-md) {
            font-size: 2rem !important;
            line-height: 1.5;
        }

        @include media-query(breakpoint-lg) {
            font-size: 2.5rem !important;
            line-height: 1.5;
        }

        @include media-query(breakpoint-xl) {
            font-size: 3rem !important;
            line-height: 1.5;
        }
    }
}

.see-all-btn {
    margin-top: 3.75rem;
    display: flex;
    border-radius: 1.875rem;
    border: .0938rem solid var(--Primary---blue, #053c5a);
    padding: .5rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    color: var(--Primary---blue, #053c5a);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include media-query(breakpoint-md) {
        min-height: 3.75rem;
        min-width: 12.5rem;
    }
}

// Blogs Part
.blogs {
    padding-block: 4.375rem;
    &--title {
        font-weight: 700;
        line-height: normal;
    }

    @include media-query(breakpoint-lg) {
        padding-block: 4.375rem 5.625rem;
    }
}

// ===== Styling for blog etail page ===== //
.blog {
    &__head {
        padding: 2.5rem 0 1.5rem;
        @include media-query(breakpoint-sm) {
            padding: 3rem 0 2.25rem;
        }
        @include media-query(breakpoint-lg) {
            padding: 3.875rem 0 3.125rem;
        }
        &__text {
            max-width: 80.25rem;
        }
    }

    &__title {
        margin-bottom: 1rem;
        @include media-query(md) {
            margin-bottom: 1.5rem;
        }
        @include media-query(xl) {
            margin-bottom: 1.875rem;
        }
    }

    &__desc {
        line-height: 1.66;
        @include media-query(breakpoint-xl) {
            font-size: 1.125rem;
        }
    }

    &__date {
        font-size: .75rem;
        font-family: $secondary-font;
        margin-bottom: .625rem;
        @include media-query(breakpoint-xl) {
            font-size: .875rem;
        }
        @include media-query(breakpoint-xxl-2) {
            font-size: 1rem;
        }
    }

    &__article {
        &__thumb {
            width: 100%;
            aspect-ratio: 1 / 0.36;
            border-radius: .625rem;
            @include media-query(breakpoint-xl) {
                border-radius: .9375rem;
            }
        }
    }

    &__wrapper {
        padding-bottom: 3.125rem;
        @include media-query(breakpoint-lg) {
            padding-bottom: 5rem;
        }
        @include media-query(breakpoint-xxl) {
            padding-bottom: 6.875rem;
        }
        @include media-query(breakpoint-xxl-2) {
            padding-bottom: 8.125rem;
        }
    }

    & .article {
        &__inner {
            &__title {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                @include media-query(md) {
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                @include media-query(xl) {
                    font-size: 1.75rem;
                    margin-bottom: 1.875rem;
                }
                @include media-query(breakpoint-xxl-2) {
                    font-size: 2rem;
                }
            }

            &__thumb {
                width: 100%;
                aspect-ratio: 1 / 0.67;
                border-radius: .625rem;
                margin-bottom: 2rem;
                @include media-query(breakpoint-lg) {
                    margin-bottom: 3.5rem;
                }
                @include media-query(breakpoint-xl) {
                    border-radius: .9375rem;
                }
                @include media-query(breakpoint-xxl-2) {
                    margin-bottom: 5rem;
                }
            }
        }

        &__para {
            font-size: .9375rem;
            line-height: 1.875;
            margin-bottom: 1.25rem;

            @include media-query(breakpoint-lg) {
                margin-bottom: 2.5rem;
            }
            @include media-query(breakpoint-xl) {
                font-size: 1rem;
            }
            @include media-query(breakpoint-xxl-2) {
                margin-bottom: 3.75rem;
            }
        }

        &__quote {
            position: relative;
            padding: .25rem 1rem;
            font-size: .9375rem;
            line-height: 1.75;
            @include media-query(breakpoint-xl) {
                font-size: 1rem;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: .125rem;
                height: 100%;
                background-color: #1e1b1b;
            }
        }
    }

    &__recent {
        &__title {
            font-size: 1.25rem;
            @include media-query(breakpoint-md) {
                font-size: 1.5rem;
            }
            @include media-query(breakpoint-xl) {
                font-size: 1.75rem;
            }
            @include media-query(breakpoint-xxl-2) {
                font-size: 2rem;
            }
        }
        &__wrapper {
            &__row.g-3 {
                @include media-query(breakpoint-xl) {
                    --bs-gutter-x: 1.25rem;
                    --bs-gutter-y: 1.25rem;
                }
            }
        }
    }

    & .card {
        &--ads {
            @include media-query(breakpoint-xl) {
                height: 28.5rem;
            }
        }
    }

    .sidebar {
        @include media-query(breakpoint-xxl-2) {
            width: 30.625rem;
        }
    }
}
