@use '../utils/' as *;
@use '../base/' as *;

.cta {
    &__wrapper {
        background-color: $primary;
        padding: 3rem 1rem;
        @include media-query(breakpoint-md) {
            padding: 4rem 1.625rem;
        }
        @include media-query(breakpoint-lg) {
            max-width: 45.625rem;
            margin-left: 1.5625rem;
        }
        @include media-query(breakpoint-xl) {
            padding: 6rem 2.25rem;
            margin-left: 3.125rem;
        }
        @include media-query(breakpoint-xxl-2) {
            padding: 8rem 2.8125rem;
            margin-left: 4.6875rem;
        }

		&__content {
			max-width: 35.625rem;
		}
    }

    & .btn {
        &--white {
            border-radius: .75rem;
            &:hover {
                border-color: $secondary;
                background-color: $secondary;
            }
        }
    }
}
