@use '../utils/' as *;
@use '../base/' as *;

.explore {
  &--section {
    padding: 2.5rem 0rem 2.5rem;
    @include media-query(breakpoint-lg) {
      padding: 5rem 0rem 5rem;
    }
    @include media-query(breakpoint-xl) {
      padding: 6.25rem 0rem 6.25rem;
    }
    @include media-query(breakpoint-xxl) {
      padding: 7.5rem 0rem 7.5rem;
    }
  }
  &__block {
    &--houses {
      padding-bottom: 2.5rem;
      @include media-query(breakpoint-lg) {
        padding-bottom: 5rem;
      }
      @include media-query(breakpoint-xl) {
        padding-bottom: 6.25rem;
      }
      @include media-query(breakpoint-xxl) {
        padding-bottom: 7.5rem;
      }
    }
    &-header {
      margin-bottom: 0.9375rem;
      @include media-query(breakpoint-lg) {
        margin-bottom: 2.75rem;
      }
      & h2 {
        font-weight: bold;
        color: $text-black;
        text-transform: uppercase;
        @media screen and (max-width: 47.9375rem) {
          font-size: 1.125rem !important;
        }
      }
      & a.btn {
        padding: 0.625rem 0.9375rem;
      }
    }
    &-row {
      --bs-gutter-x: 0.9375rem;
      --bs-gutter-y: 0.9375rem;
    }
  }
}
