@use '../utils/' as *;
@use '../base/' as *;
.hero {
  & .container {
    padding: 0rem;
    & > div {
      padding: 0rem;
    }
  }
  &__main {
    position: relative;
    padding: 1.875rem 1rem 11.875rem;
    overflow: hidden;
    background: linear-gradient(
      90deg,
      rgba(60, 205, 170, 0.35) 0%,
      rgba(5, 60, 90, 0.35) 97.99%
    );
    @include media-query(breakpoint-lg) {
      padding: 5.625rem 1.875rem 9.375rem;
    }
    @include media-query(breakpoint-md) {
      border-radius: 1.875rem;
    }
    @include media-query(breakpoint-xl) {
      padding: 7.5rem 5rem 9.875rem;
    }
    @include media-query(breakpoint-xxl) {
      padding: 7.5rem 5rem 9.875rem;
      background: linear-gradient(
        90deg,
        rgba(60, 205, 170, 0.2) 0%,
        rgba(5, 60, 90, 0.2) 97.99%
      );
    }
    &-content {
      max-width: 30rem;
      @include media-query(breakpoint-xl) {
        max-width: 37.5rem;
      }
      @include media-query(breakpoint-xxl) {
        max-width: 40.625rem;
      }
      & h1 {
        color: $primary;

        @media screen and (max-width: 74.9375rem) {
          font-size: 2.625rem !important;
        }
        @media screen and (max-width: 61.9375rem) {
          font-size: 2.25rem !important;
        }
        @media screen and (max-width: 47.9375rem) {
          font-size: 1.75rem !important;
        }
        @include media-query(breakpoint-lg) {
          margin-bottom: 0.875rem;
          line-height: 1.4;
        }
        @include media-query(breakpoint-md) {
          margin-bottom: 0.75rem;
        }
      }
      & p {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $text-black;
        max-width: 22.5rem;
        @include media-query(breakpoint-md) {
          max-width: 26.25rem;
          font-size: 0.9375rem;
          line-height: 1.125rem;
        }
        @include media-query(breakpoint-lg) {
          font-size: 1rem;
          line-height: 1.5rem;
          max-width: 27.8125rem;
        }

        @include media-query(breakpoint-xxl) {
          font-size: 1.25rem;
          max-width: 37.5rem;
          line-height: 1.875rem;
        }
      }
    }
    &-img {
      position: absolute;
      max-width: 17.625rem;
      position: absolute;
      bottom: 0;
      right: 0rem;
      @include media-query(breakpoint-md) {
        max-width: 23.75rem;
      }
      @include media-query(breakpoint-lg) {
        max-width: 30rem;
      }
      @include media-query(breakpoint-xl) {
        max-width: 35.625rem;
      }
      @include media-query(breakpoint-xxl) {
        max-width: 42.5rem;
      }
      @include media-query(breakpoint-xxl) {
        max-width: 46.75rem;
      }
    }
    &-obj {
      position: absolute;
      left: 1rem;
      top: 0rem;
      max-width: 10.375rem;
      @include media-query(breakpoint-xl) {
        left: 0rem;
      }
      &--bottom {
        @include media-query(breakpoint-xl) {
          display: block !important;
          bottom: 0;
          top: inherit;
          transform: rotate(180deg);
        }
      }
    }
  }
  &__form {
    margin-top: -5rem;
    position: relative;
    z-index: 2;
    border-radius: 1.25rem;
    filter: drop-shadow(0rem 0.125rem 1.25rem #92929233);
    &-contents {
      background-color: $white-color;
      padding: 0.9375rem 1rem 0.9375rem 1rem;
      border-radius: 1.25rem;
      border-top-left-radius: 0rem;
      @include media-query(breakpoint-xl) {
        padding: 2.5rem 1.875rem 1.75rem 1.25rem;
      }
    }
    &-content {
      --bs-gutter-x: 0.9375rem;
      justify-content: center;
      align-items: flex-end;
      @include media-query(breakpoint-xl) {
        --bs-gutter-x: 1.869rem;
      }
    }
    &-col {
      &__mHalf {
        width: 50%;
      }
      @include media-query(breakpoint-md) {
        width: 50%;
      }
      @include media-query(breakpoint-lg) {
        width: 25%;
      }
      @include media-query(breakpoint-xl) {
        width: 20%;
      }
    }
    &-nav {
      width: 15.625rem;
      padding: 0.9375rem 1rem 0rem 1rem;
      height: 4.375rem;
      background-color: $white-color;
      position: relative;
      top: 0.9375rem;
      clip-path: path(
        'M 15,0  L 184,0 A 15,15 0,0,1 194,15 L 194,45 A 15,15 0,0,0 209,55 L 250,55 L 250,70  L 0,70 L 0,10 A 15,15 0,0,1 15,0 Z'
      );
      display: inline-block;
      @include media-query(breakpoint-lg) {
        width: 18.125rem;
        height: 4.75rem;
        clip-path: path(
          'M 15,0  L 262,0 A 15,15 0,0,1 272,15 L 272,45 A 15,15 0,0,0 287,62 L 290,62 L 290,70  L 0,70 L 0,10 A 15,15 0,0,1 15,0 Z'
        );
      }
      @include media-query(breakpoint-xxl) {
        padding: 0.9375rem 1.125rem 0rem 1.125rem;
        width: 30.625rem;
        height: 5rem;
        clip-path: path(
          'M 20,0  L 432,0 A 20,20 0,0,1 452,20 L 452,50 A 20,20 0,0,0 477,65 L 490,80 L 490,80  L 0,80 L 0,20 A 20,20 0,0,1 20,0 Z'
        );
      }
      
    }
    &-control {
      & .btn {
        @include media-query(breakpoint-xl) {
          width: 100%;
          max-height: 3.75rem;
        }
      }
    }
  }
}
