@use '../utils/' as *;
@use '../base/' as *;

.sidebar {
    flex-shrink: 0;
    width: 100%;
    @include media-query(breakpoint-lg) {
        width: 25rem;
    }
    @include media-query(breakpoint-xxl) {
        width: 28.75rem;
    }
    &--item {
        & .card {
            &--profile {
                & .thumb {
                    @include media-query(breakpoint-xl) {
                        width: 3.75rem;
                        height: 3.75rem;
                    }
                }
            }
        }
        &__buttons {
            .btn {
                height: 3.25rem;
                border-radius: .625rem;

                @include media-query(breakpoint-xl) {
                    height: 3.625rem;
                }
                @include media-query(breakpoint-xxl-2) {
                    height: 4.0625rem;
                }
            }
        }
    }
}
