@use '../utils/' as *;
@use '../base/' as *;

.sidebar {
    flex-shrink: 0;
    width: 100%;
    @include media-query(breakpoint-lg) {
        width: 400px;
    }
    @include media-query(breakpoint-xxl) {
        width: 460px;
    }
    &--detail {
		.thumb {
			width: 60px;
			height: 60px;
		}
        &__buttons {
            .btn {
                height: 52px;
                border-radius: 10px;

                @include media-query(breakpoint-xl) {
                    height: 58px;
                }
                @include media-query(breakpoint-xxl-2) {
                    height: 65px;
                }
            }
        }
    }
}
