@use '../utils/' as *;

.card__step{
    --bs-card-border-radius: 1.25rem;
    .card-body{
        --bs-card-spacer-y: 2.5rem;
        --bs-card-spacer-x: 2.5rem;
    }
}
.step{
    &__nav{
        li {
            font-weight: 600;
            flex: 1;
            text-align: center;

            &::before {
                content: '';
                width: 100%;
                height: 0.375em;
                background: $light-gray;
                display: block;
                border-radius: 50rem;
                margin-bottom: 0.2em;
                transition: .3s ease;
            }
            &.active::before {
                background: $secondary;
            }
        }
    }

    &__title{
        &.mb-5{
            margin-bottom: 2.5rem !important;
        }
    }

    
    &__transmission{
        > div:nth-child(3n-2){
            flex: 22%;
        }
        > div:nth-child(3n-1){
            flex: 35%;
        }
        > div:nth-child(3n){
            flex: 35%;
        }
    }

    &__tab{
        display: none;
        animation: fadeEffect 1s ease;
        &.active{
            display: block;
        }
    }
    @keyframes fadeEffect{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }


    &__buttons{
        margin-top: 6.25rem;
    }

}
