@use "../utils/" as *;   @use '../utils/' as *;
@use '../base/' as *;
    
    .sticky-guild{
        &__cards{
            .card{
                background-color: #E7EDED;
                &-body{
                    background-color: #C3E3DD;
                }
            }
        }

        
        &__nav {
            --bar-line: 0.3rem;
            @include media-query(breakpoint-lg) {
                --bar-line: 0.55rem;
            }

            border-left: var(--bar-line) solid rgba($secondary, 0.3);
            position: relative;
        
            .progress-bar {
                height: 0%;
                width: var(--bar-line);
                background: $secondary;
                position: absolute;
                left: calc( var(--bar-line) * -1 );
                top: 0;
                transition: .3s linear;
                border-radius: 1rem;
            }

            ul{
                

                li{
                    color: #6A6D6F;
                    font-size: 1rem;
                    cursor: pointer;
                    @include media-query(breakpoint-lg) {
                        font-size: 1.2rem;
                    }
                    @include media-query(breakpoint-xxl) {
                        font-size: 2rem;
                    }
                    font-weight: 500;
                    padding: 1.2rem;
                    position: relative;
                    padding-left: 1.25rem;
                    @include media-query(breakpoint-lg) {
                        padding: 1.5rem;
                        padding-left: 2rem;
                    }
                    @include media-query(breakpoint-xl) {
                        padding: 2.125rem;
                        padding-left: 2.5rem;
                    }
                    &.active{
                        color: $text-black;
                        font-weight: 600;              
                    }

                    span {
                        font-weight: 600;
                        display: inline-block;
                        font-size: 1.5rem;
                        width: 2.5rem;
                        @include media-query(breakpoint-lg) {
                            font-size: 2.5rem;
                            width: 4rem;
                        }
                        @include media-query(breakpoint-xxl) {
                            font-size: 3.5rem;
                            width: 5.25rem;
                        }
                    }
                }
            }
        }

        .card{
            &-title{
                font-size: 1rem;
                @include media-query(breakpoint-lg) {
                    font-size: 1.2rem;
                }
                @include media-query(breakpoint-xxl) {
                    font-size: calc(1.275rem + .3vw);
                }
            }
            &-img{
                width: calc(100% + 5px);
                max-width: none;
                
                &-overlay {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    @include media-query(breakpoint-lg) {
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                    top: auto;
                    background: rgba($secondary, 0.2);
                }
            }
        }

        


    }
