@use '../utils/' as *;

// Containers Width
.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;

  @include media-query(breakpoint-sm) {
    max-width: 33.75rem;
  }
  @include media-query(breakpoint-md) {
    max-width: 45rem;
  }
  @include media-query(breakpoint-lg) {
    max-width: 60rem;
  }
  @include media-query(breakpoint-xl) {
    max-width: 71.25rem;
  }
  @include media-query(breakpoint-xxl) {
    max-width: 82.5rem;
  }
  @include media-query(breakpoint-xxl-2) {
    max-width: 92rem;
    width: 100%;
  }
}

// colors
.text {
  &-black {
    color: $text-black !important;
  }
  &-primary {
    color: $primary !important;
  }
  &-secondary {
    color: $secondary !important;
  }
  &-dark {
    &-gray {
      color: $dark-gray !important;
    }
  }
  &-cool-gray {
    color: $cool-gray !important;
  }
  &-light-gray {
    color: $light-gray !important;
  }
}

// bg
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary{
    background-color: $secondary !important;
  }
  &-light{
    background-color: #E1F7F2 !important;
  }
}

// section-css
.section {
  &__title {
    & .lead-text {
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
      @include media-query(breakpoint-lg) {
        margin-bottom: 0.9375rem;
      }
    }
  }
}


// border
.border{
  &-gradient{
    background: $bg-gradient;
    > *{
      background: $white-color;
      border-radius: inherit;
    }
  }
}

.w{
  &-70{
    width: 70% !important;
  }
  &-lg{
    &-auto{
      @include media-query(breakpoint-lg) {
        width: auto !important;
      }
    }
  }
}