@use '../utils/' as *;
@use '../base/' as *;

.footer {
  &__content {
    max-width: 118rem;
    padding: 2.5rem 0;

    @include media-query(breakpoint-lg) {
      padding: 4rem 0;
    }
    @include media-query(breakpoint-xxl) {
      padding: 32px 0 36px;
    }
  }

  &__wrapper {
    gap: 2rem;
    margin-bottom: 2.5rem;

    @include media-query(breakpoint-md) {
      gap: 3rem;
      margin-bottom: 3.25rem;
    }
    @include media-query(breakpoint-lg) {
      margin-bottom: 5rem;
    }
    @include media-query(breakpoint-xxl) {
      margin-bottom: 6.375rem;
    }
  }

  &__nav {
    width: 100%;
    @include media-query(breakpoint-lg) {
      width: auto;
    }

    &__ul {
      gap: 0.875rem;
      @include media-query(breakpoint-lg) {
        gap: 1.5rem;
      }
      @include media-query(breakpoint-xl) {
        gap: 2rem;
      }
      @include media-query(breakpoint-xxl) {
        gap: 2.5rem;
      }
    }
    &__link {
      color: $text-black;
      font-weight: 600;

      @include media-query(breakpoint-xl) {
        font-size: 1.125rem;
      }

      &:hover {
        color: $secondary;
      }
    }
  }

  &__copyright {
    p {
      color: $text-black;
      font-size: 0.875rem;

      @include media-query(breakpoint-lg) {
        font-size: 1rem;
      }

      @include media-query(breakpoint-xxl) {
        font-size: 1.125rem;
      }
    }
  }

  &__obj {
    gap: 1.25rem;
    &__item {
      max-width: 53.5rem;
      width: 100%;
      margin: auto;
      object-fit: contain;

      @include media-query(breakpoint-lg) {
        max-width: 46%;
      }
    }
  }
}

/* Social Contact */
.social-contact {
  gap: 1.25rem;

  &__link {
    width: 1.25rem;
    height: 1.375rem;
    color: $text-black;
    @include transition-common;
    @include media-query(breakpoint-xl) {
      width: 1.5rem;
      height: 1.625rem;
    }

    &:hover {
      color: $secondary;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
