@use '../utils/' as *;
@use '../base/' as *;

.header {
  &--section {
    padding: 0.9375rem 0;
  }

  &__nav {
    margin-right: 3.25rem;
    @include media-query(breakpoint-xl) {
      margin-right: 5rem;
    }
    @include media-query(breakpoint-xxl-2) {
      margin-right: 6.5rem;
    }

    &__ul {
      gap: 1.5625rem;
      @include media-query(breakpoint-xl) {
        gap: 2.25rem;
      }
      @include media-query(breakpoint-xxl-2) {
        gap: 3.125rem;
      }
    }

    &__link {
      color: $dark-gray;
      font-weight: 600;

      @include media-query(breakpoint-xl) {
        font-size: 1.125rem;
      }

      &:hover,
      &.active {
        color: $secondary;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  &__action__btns {
    margin-right: 1.5rem;
    @include media-query(breakpoint-xxl) {
      margin-right: 2.5rem;
    }
  }
}
