@use '../utils/' as *;
@use '../base/' as *;

.menu {
  &-offcanvas-show {
    width: 2rem;
    height: 2rem;

    @include media-query(breakpoint-lg) {
      width: 2.5rem;
      height: 2.5rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .offcanvas {
    background-color: $body-color;
  }

  &__item {
    border-bottom: 0.0625rem solid $cool-gray;
  }

  &__link {
    color: $dark-gray;
    font-weight: 600;
    padding: 0.875rem 0;

    &:hover,
    &.active {
      color: $secondary;
    }

    &.active {
      font-weight: 700;
    }
  }

  &__contact__title {
    border-bottom: 0.0625rem solid $cool-gray;
  }
}
