@use '../utils/' as *;
@use '../base/' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    color: $primary;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: normal;
    white-space: nowrap;
    border: 0.0938rem solid $primary;
    border-radius: 6.25rem;
    padding: 0.625rem 1.5rem;
    cursor: pointer;

    @include media-query(breakpoint-lg) {
        height: 3.375rem;
        font-size: 1.125rem;
        padding: 0.625rem 2.1875rem;
    }
    @include media-query(breakpoint-xxl) {
        min-width: 12.5rem;
        height: 3.75rem;
        font-size: 1.25rem;
    }

    &:hover {
        color: $white-color;
        border-color: $primary;
        background-color: $primary;

        // For Animation
        .btn__icon__symbol {
            animation: arrow-slide 0.6s ease forwards;
        }
        .btn__icon__shake {
            animation: icon-shake 1s linear infinite;
        }
    }

    // Button Primary BG
    &--primary {
        color: $white-color;
        border-color: $primary;
        background-color: $primary;

        &:hover {
            color: $primary;
            border-color: $primary;
            background-color: transparent;
        }
    }

    // Button DM
    &--dm {
        padding: 0.625rem;
        aspect-ratio: 1/1;
        border: none;
        background: $bg-gradient;
        @include media-query(breakpoint-lg) {
            width: 3.375rem;
            height: 3.375rem;
        }
        @include media-query(breakpoint-xxl) {
            min-width: auto;
            width: 3.75rem;
            height: 3.75rem;
        }
    }

    // Button Transparent
    &--trans {
        padding: 0;
        border: none;
        &:hover {
            color: $secondary;
            background-color: transparent;
        }
    }

    // Button Green
    &--green {
        color: $white-color;
        border-color: $green;
        background-color: $green;

        &:hover {
            color: $green;
            border-color: $green;
            background-color: transparent;
        }
    }

    // Button Animations CSS
    &__icon {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @include media-query(breakpoint-lg) {
            width: 1.4375rem;
            height: 1.4375rem;
        }
        @include media-query(breakpoint-xxl) {
            width: 1.5625rem;
            height: 1.5625rem;
        }

        // Arrow Animation CSS
        &__symbol {
            display: block;
            width: 100%;
            height: 100%;
            transform: translateX(0);
        }

        // Shake Animation CSS
        &__shake {
            display: inline-block;
            transform-origin: center;
            will-change: transform;
        }
    }

    // Button--squir
    &__squire{
        flex: 0 0 auto;
        min-width: inherit;
        width: 2.8125rem;
        border-radius: .625rem;
        min-height: 2.8125rem;
        padding: 0;
    }

    // Button--squir
    &__outline{
        &-coolGray{
            border-color: $cool-gray;
            &:focus{
                border-color: $cool-gray;
                outline: none;
                box-shadow: none;
                background-color: transparent;
            }
        }
    }

    // Dropdown-btn
    &--dropdown{
        background: $white-color;
        padding: .8125rem .9375rem;
        border-radius: .5rem;
        border: .0625rem solid $light-gray;
        min-width: inherit;
        min-height: inherit;
        height: inherit;
        gap: .3125rem;
        color: $text-black;
        &:hover{
            background-color: $white-color;
            border-color: $cool-gray;
            color: $text-black;
        }
        & span.icon{
            flex: 0 0 auto;
            width: 1.5rem;
            height: 1.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        & span.text-status{
            color: $cool-gray;
        }
    }

}

// Arrow Animation
@keyframes arrow-slide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    40% {
        transform: translateX(100%);
        opacity: 0;
    }
    41% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Shake Animation
@keyframes icon-shake {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(8deg);
    }
    45% {
        transform: rotate(-6deg);
    }
    60% {
        transform: rotate(6deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
