@use '../utils/' as *;
@use '../base/' as *;

.card {
    // card Gloabl css
    border: none;
    @include transition-common;
    &__content {
        &-meta {
            & ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 0.375rem 0rem;
                flex-wrap: wrap;
                & li {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: $dark-gray;
                    line-height: 1;
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    position: relative;
                    padding-right: 8px;
                    margin-right: 8px;
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                    }
                    &:not(:last-child) {
                        &::after {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            content: '';
                            width: 0.0625rem;
                            height: 0.875rem;
                            background-color: $dark-gray;
                        }
                    }
                    @include media-query(breakpoint-md) {
                        font-size: 0.875rem;
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                    @include media-query(breakpoint-lg) {
                        gap: 0.375rem;
                    }
                    @include media-query(breakpoint-xl) {
                        font-size: 0.875rem;
                        padding-right: 12px;
                        margin-right: 12px;
                    }
                    & span.icon {
                        & img {
                            max-width: 0.875rem;
                            max-height: 0.875rem;
                            @include media-query(breakpoint-md) {
                                max-width: 1.125rem;
                                max-height: 1.125rem;
                            }
                        }
                        & svg {
                            max-width: 0.875rem;
                            max-height: 0.875rem;
                            @include media-query(breakpoint-md) {
                                max-width: 1.125rem;
                                max-height: 1.125rem;
                            }
                        }
                    }
                }
            }
        }
    }

    // Explore-houses-cars- Card-start
    &--explore {
        border-radius: 0.625rem;
        background-color: #fff;
        box-shadow: 0rem 0.25rem 0.25rem 0rem #9999991a;
        border: 1px solid $light-gray;

        & .card {
            &__thumb {
                position: relative;
                width: 100%;
                height: 7.375rem;
                @include media-query(breakpoint-md) {
                    height: 14.375rem;
                }
                & .wishlistBtn {
                    width: 1.875rem;
                    height: 1.875rem;
                    background: #0000004d;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    backdrop-filter: blur(0.875rem);
                    position: absolute;
                    top: 0.625rem;
                    right: 0.625rem;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: #0000008c;
                    }
                    @include media-query(breakpoint-md) {
                        top: 0.6875rem;
                        right: 1.1875rem;
                    }
                }
                &-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 0.625rem;
                }
            }
            &__content {
                padding: 0.625rem 0.625rem;
                @include media-query(breakpoint-md) {
                    padding: 0.9375rem 0.9375rem;
                }
                @include media-query(breakpoint-xl) {
                    padding: 0.9375rem 0.9375rem 1.1875rem 0.9375rem;
                }
                &-info {
                    margin-bottom: 5px;
                    @include media-query(breakpoint-md) {
                        margin-bottom: 1.25rem;
                    }
                    & span.price {
                        font-weight: bold;
                        color: $primary;
                        font-size: 1rem;
                        @include media-query(breakpoint-md) {
                            font-size: 1.25rem;
                        }
                    }
                    & .message {
                        padding: 0rem;
                        line-height: 1;
                        border: none;
                        background-color: transparent;
                        & svg {
                            max-width: 1.25rem;
                            max-height: 1.25rem;
                            @include media-query(breakpoint-md) {
                                max-width: 1.5rem;
                                max-height: 1.5rem;
                            }
                        }
                    }
                    & .btn {
                        padding: 0.5625rem 0.75rem;
                        font-size: 0.75rem;
                        font-weight: 600;
                        height: auto;
                        min-width: inherit;
                    }
                }
                &-text {
                    margin-bottom: 0.625rem;
                    @include media-query(breakpoint-md) {
                        margin-bottom: 1.25rem;
                    }
                    & h3 {
                        margin-bottom: 0.25rem;
                        @include media-query(breakpoint-md) {
                            margin-bottom: 0.375rem;
                        }
                        & a {
                            font-size: 0.75rem;
                            font-weight: bold;
                            color: $text-black;
                            display: block;
                            text-decoration: none;
                            @include media-query(breakpoint-md) {
                                font-size: 1rem;
                            }
                        }
                    }
                    & .location {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: 0.75rem;
                        font-weight: 500;
                        color: $dark-gray;
                        @include media-query(breakpoint-md) {
                            font-size: 0.875rem;
                            font-weight: 600;
                        }
                        & span.icon svg {
                            max-width: 0.875rem;
                            max-height: 0.875rem;
                            @include media-query(breakpoint-md) {
                                max-width: 1.125rem;
                                max-height: 1.125rem;
                            }
                        }
                    }
                }
                &-meta {
                    padding-top: 0.625rem;
                    border-top: 0.0625rem solid $cool-gray;
                    @include media-query(breakpoint-md) {
                        padding-top: 1.25rem;
                    }
                }
            }
        }

        & .btn--wishlist {
            position: absolute;
            top: 0.625rem;
            right: 0.625rem;
            @include media-query(breakpoint-md) {
                top: 0.75rem;
                right: 1.125rem;
            }
        }
    }
    // Explore-houses-cars- Card---end

    // Service Cards Css Start ====
    &--service {
        background-color: $white-color;
        padding: 0.4375rem 0rem;
        border-radius: 0.9375rem;
        @include media-query(breakpoint-xl) {
            padding: 0.6875rem 0rem;
            border-radius: 1.25rem;
        }
        & .card {
            &__thumb {
                position: relative;
                &-img {
                    width: 100%;
                    height: 18.4375rem;
                    border-radius: 0.9375rem;
                    @include media-query(breakpoint-md) {
                        height: 22.5rem;
                    }
                    @include media-query(breakpoint-xxl) {
                        height: 31rem;
                    }
                }
                &-info {
                    max-width: 13.25rem;
                    background-color: $white-color;
                    padding: 0.625rem 0.625rem;
                    border-radius: 0.9375rem;
                    position: absolute;
                    left: 0.75rem;
                    bottom: 0.75rem;
                    @include media-query(breakpoint-md) {
                        padding: 1.0625rem 1.125rem 1.5625rem 1.3125rem;
                        border-radius: 0.9375rem;
                        max-width: 18.75rem;
                        bottom: 0.625rem;
                        left: 0.5rem;
                    }
                    @include media-query(breakpoint-xxl) {
                        padding: 1.0625rem 1.125rem 1.5625rem 1.3125rem;
                        border-radius: 1.25rem;
                        max-width: 22.375rem;
                        bottom: 0.625rem;
                        left: 0.5rem;
                    }
                    & h5 {
                        color: #000;
                        font-size: 0.9375rem;
                        font-weight: 600;
                        margin-bottom: 0.375rem;
                        @include media-query(breakpoint-md) {
                            font-size: 1.125rem;
                            line-height: 1;
                            margin-bottom: 0.625rem;
                        }
                        @include media-query(breakpoint-xxl) {
                            font-size: 1.5625rem;
                            line-height: 1;
                            margin-bottom: 0.75rem;
                        }
                    }
                    & p {
                        font-size: 0.75rem;
                        line-height: 0.875rem;
                        color: $text-black;
                        font-weight: 700;
                        line-height: 0.875rem;
                        @include media-query(breakpoint-md) {
                            font-size: 0.8125rem;
                            line-height: 1.375rem;
                            font-weight: 500;
                        }
                        @include media-query(breakpoint-xxl) {
                            font-size: 1rem;
                            line-height: 1.5rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    // Service Cards Css   end ====

    // About Cards Css Start ===
    &--about {
        background-color: transparent;
        border-radius: 0rem;
        & .card {
            &__thumbnail {
                height: 12.5rem;
                max-width: 13.5rem;
                margin: 0 auto;
                margin-bottom: 1.25rem;
                & img {
                    max-width: 100%;
                }
            }
            &__content {
                & h3 {
                    font-size: 1.25rem;
                    margin-bottom: 0.625rem;
                    text-transform: capitalize;
                    @include media-query(breakpoint-lg) {
                        font-size: 1.5625rem;
                        margin-bottom: 1.125rem;
                    }
                }
                & p {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    font-weight: bold;
                    color: $text-black;
                    max-width: 24rem;
                    margin: 0 auto;
                    text-transform: capitalize;
                    @include media-query(breakpoint-lg) {
                        font-size: 1rem;
                        font-weight: 500;
                        max-width: 23rem;
                    }
                }
            }
        }
    }
    // About Cards Css End

    // Testimonial Card Start
    &--testimonial {
        padding: 0.9375rem;
        border-radius: 0.9375rem;
        border: 0.0625rem solid $cool-gray;
        background-color: $body-color;

        @include media-query(breakpoint-xl) {
            padding: 1.25rem;
            border-radius: 1.25rem;
        }

        &:hover {
            @include hover-shadow;
        }

        & .card {
            &__para {
                font-size: 0.875rem;
                line-height: 1.78;
                text-transform: capitalize;

                @include media-query(breakpoint-xl) {
                    font-size: 1rem;
                    line-height: 1.66;
                }
                @include media-query(breakpoint-xxl-2) {
                    font-size: 1.125rem;
                }
            }
        }
        .client {
            gap: 0.9375rem;
            margin-bottom: 1.25rem;

            @include media-query(breakpoint-xl) {
                margin-bottom: 1.75rem;
            }
            @include media-query(breakpoint-xxl-2) {
                margin-bottom: 2.25rem;
            }

            &__name {
                font-size: 1rem;
                margin-bottom: 0.625rem;
                @include media-query(breakpoint-xl) {
                    font-size: 1.25rem;
                    line-height: 1.5;
                    max-width: 15rem;
                }
            }
            &__designation {
                @include media-query(breakpoint-xl) {
                    font-size: 1.25rem;
                    line-height: 1.5;
                }
            }

            &__thumb {
                width: 3.75rem;
                height: 3.75rem;
                @include media-query(breakpoint-xl) {
                    width: 5.125rem;
                    height: 5.125rem;
                }
            }
        }
    }
    // Testimonial Card End

    // Partners Card Start
    &--partner {
        padding: 0.5rem;
        border-radius: 0.625rem;
        box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(153, 153, 153, 0.1);
        background-color: $white-color;
    }
    // Partners Card End

    // Card-Lisging-produtct
    &--listing {
        border: 1px solid $light-gray;
        border-radius: 10px;
        &:hover {
            @include hover-shadow;
        }
        @include media-query(breakpoint-xl) {
            display: flex;
            align-items: stretch;
            flex-direction: row;
            padding: 17px 15px;
            border-radius: 0.625rem;
        }
        & .card {
            &__thubnail {
                width: 100%;
                flex: 0 0 auto;
                border-radius: 0.625rem;
                @include media-query(breakpoint-lg) {
                    width: 100%;
                }
                @include media-query(breakpoint-xl) {
                    width: 20rem;
                    border: 1px solid $light-gray;
                }
                @include media-query(breakpoint-xxl) {
                    width: 24.8125rem;
                }
                &-slider {
                    height: 100%;
                }
                &-img {
                    height: 15.375rem;
                    overflow: hidden;
                    border-radius: 10px;
                    @include media-query(breakpoint-xl) {
                        width: 100%;
                        height: 100%;
                    }
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                & .badge {
                    position: absolute;
                    left: 0;
                    top: 0.9375rem;
                    z-index: 11;
                }
                & .btn--wishlist {
                    position: absolute;
                    top: 0.9375rem;
                    right: 0.9375rem;
                    z-index: 12;
                }
                & .swiper-navs {
                    & button {
                        position: absolute;
                        left: 0.9375rem;
                        top: 50%;
                        transform: translateY(-50%);
                        @include transition-common;
                        &:first-child {
                            & svg {
                                transform: rotate(180deg);
                            }
                        }
                        &:last-child {
                            left: auto;
                            right: 1rem;
                        }
                    }
                }
            }
            &__content {
                flex: 1;
                padding: 0.9375rem;
                @include media-query(breakpoint-xl) {
                    padding: 0;
                    padding-left: 0.9375rem;
                }
                & .priceTag {
                    font-size: 1.125rem;
                    font-weight: bold;
                    color: $text-black;
                    @include media-query(breakpoint-lg) {
                        font-size: 22px;
                    }
                }
                &-title {
                    margin-bottom: 0.625rem;
                    @include media-query(breakpoint-lg) {
                        margin-bottom: 0.75rem;
                    }
                    & h3 {
                        font-size: 1.125rem;
                        font-weight: bold;
                        color: $text-black;
                        @include media-query(breakpoint-lg) {
                            font-size: 1.375rem;
                        }
                    }
                }
                &-meta {
                    margin-bottom: 20px;

                    & ul {
                        & li {
                            font-size: 0.875rem;
                            font-weight: 600;
                            color: $dark-gray;
                            @include media-query(breakpoint-xl) {
                                font-size: 1rem;
                            }
                            & span.icon {
                                & svg {
                                    max-width: 1.25rem;
                                    max-height: 1.25rem;
                                    @include media-query(breakpoint-xl) {
                                        max-width: 1.5rem;
                                        max-height: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                &-features {
                    margin-bottom: 0.9375rem;
                    @include media-query(breakpoint-xl) {
                        margin-bottom: 1.25rem;
                        max-width: 28.5rem;
                    }
                    &.gap-2 {
                        @include media-query(breakpoint-xl) {
                            gap: 10px 8px !important;
                        }
                    }
                    & .tag {
                        font-weight: 600;
                        & span.icon {
                            @include media-query(breakpoint-xl) {
                                max-width: 1.125rem;
                                max-height: 1.125rem;
                            }
                        }
                        @include media-query(breakpoint-xl) {
                            font-size: 0.875rem;
                        }
                    }
                }
                &-brands {
                    margin-bottom: 0.9375rem;
                    @include media-query(breakpoint-xl) {
                        margin-bottom: 1.25rem;
                    }
                    & .brand-name {
                        width: 1.5625rem;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        height: 1.5625rem;
                        border: 0.0444rem solid #053c5a1a;
                        box-shadow: 0px 2.86px 2.86px 0px #9c9c9c1a;
                        background: radial-gradient(
                            50% 50% at 50% 50%,
                            rgba(255, 255, 255, 0.1) 70.67%,
                            rgba(5, 60, 90, 0.1) 100%
                        );
                        @include media-query(breakpoint-xl) {
                            width: 2.1875rem;
                            height: 2.1875rem;
                        }

                        & img {
                            max-width: 0.9375rem;
                            @include media-query(breakpoint-xl) {
                                max-width: 1.375rem;
                                max-height: 1.375rem;
                            }
                        }
                    }
                }
                &-owner {
                    padding: 0.9375rem 0.6875rem;
                    border-radius: 0.625rem;
                    border: 0.0625rem solid #ebebeb;
                    & .info {
                        & .thumb {
                            width: 2.5rem;
                            height: 2.5rem;
                            @include media-query(breakpoint-lg) {
                                width: 3.125rem;
                                height: 3.125rem;
                            }
                        }
                        & .name {
                            @include media-query(breakpoint-lg) {
                                font-size: 1.25rem;
                                line-height: 1;
                                font-weight: 600;
                            }
                        }
                        & .designation {
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $dark-gray;
                            @include media-query(breakpoint-lg) {
                                font-size: 1rem;
                            }
                        }
                    }
                    & .action-buttons {
                        & .btn {
                            font-size: 12px;
                            font-weight: 600;
                            padding: 0.5rem 0.75rem;
                            min-height: inherit;
                            min-width: inherit;
                            height: inherit;
                            @include media-query(breakpoint-lg) {
                                padding: 0.625rem 2.5rem;
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }

        // For Slider Styling
        .swiper {
            &-navs {
                & button {
                    width: 4.125rem;
                    height: 4.125rem;
                    border-radius: 50%;
                    border: 0.0938rem solid #ffffff;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0.46) 0%,
                        rgba(153, 153, 153, 0.46) 100%
                    );
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 11;
                }
                &--sm {
                    & button {
                        width: 26px;
                        height: 26px;
                        & svg {
                            max-width: 6px;
                            max-height: 10px;

                            path {
                                stroke: #fff;
                            }
                        }
                    }
                }
            }
            &-pagination {
                bottom: 16px;
                @include media-query(breakpoint-xl) {
                    bottom: 32px;
                }
                @include media-query(breakpoint-xxl-2) {
                    bottom: 40px;
                }
                &-bullet {
                    width: 0.625rem;
                    height: 0.625rem;
                    border-radius: 50%;
                    background-color: $cool-gray;
                    opacity: 1;
                    @include transition-common;
                    &-active {
                        background-color: #ffffff;
                    }
                }
            }
            &-button {
                &-disabled {
                    opacity: 0;
                }
            }
        }
    }

    // Ads Card Start
    &--ads {
        width: 100%;
        height: 300px;
        padding: 0.5rem;
        border-radius: 0.625rem;
        box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(153, 153, 153, 0.1);
        background-color: $white-color;
        @include media-query(breakpoint-md) {
            height: 352px;
        }
        @include media-query(breakpoint-xl) {
            height: 600px;
        }
        @include media-query(breakpoint-xxl-2) {
            height: 916px;
        }
    }
    // Ads Card End

    // Profile Card Start
    &--profile {
        border: 1px solid $light-gray;
        border-radius: 10px;
        background-color: $white-color;

        .head {
            padding: 16px;
            border-bottom: 1px dashed $light-gray;
            .title {
                color: $black-color;
                font-size: 18px;
                font-weight: 600;
                @include media-query(breakpoint-lg) {
                    font-size: 21px;
                }
                @include media-query(breakpoint-xxl-2) {
                    font-size: 24px;
                }
            }
        }
        .details {
            padding: 16px;
        }

        .thumb {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            @include media-query(breakpoint-lg) {
                width: 50px;
                height: 50px;
            }
        }
        .info__text {
            gap: 4px;
        }
        .name {
            color: $text-black;
            font-size: 16px;
            font-weight: 600;
            @include media-query(breakpoint-lg) {
                font-size: 18px;
            }
            @include media-query(breakpoint-xxl-2) {
                font-size: 20px;
            }
        }
        .action-buttons {
            gap: 10px;
            .message {
                width: 24px;
                height: 24px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            .btn {
                font-size: 13px;
                padding: 8px 13px;
                height: 35px;
                min-width: 80px;
                @include media-query(breakpoint-lg) {
                    min-width: 128px;
                }
            }
        }

        &Detail {
            .name {
                font-weight: 500;
            }
            .action-buttons {
                gap: 0.375rem;
            }
            .social-link {
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                color: $black-color;
                background: $bg-gradient;
                &:hover {
                    background: $primary;
                    color: $white-color;
                }
                svg {
                    width: 64%;
                }
            }
        }
    }
    // Profile Card End

    // Blog Card Start
    &--blog {
        padding: 15px;
        border-radius: 15px;
        border: 1px solid #cbcbcb;
        background: #fff;

        @include media-query(breakpoint-md) {
            border-radius: 22px;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            -ms-border-radius: 22px;
            -o-border-radius: 22px;
        }

        &-thumb {
            width: 100%;
            height: 200px;
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            @include media-query(breakpoint-sm) {
                height: 256px;
            }
            @include media-query(breakpoint-md) {
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }
            @include media-query(breakpoint-xl) {
                height: 288px;
            }
            @include media-query(breakpoint-xxl) {
                height: 322px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .blog-title {
            color: #000;
            margin-top: 20px;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; /* 38.88px */
            @include media-query(breakpoint-md) {
                font-size: 22px;
                margin-top: 20px;
            }

            @include media-query(breakpoint-xxl) {
                font-size: 24px;
                margin-top: 36px;
            }

            overflow: hidden;
            text-overflow: ellipsis;

            display: -webkit-box; /* must */
            -webkit-box-orient: vertical; /* must */
            -webkit-line-clamp: 1; /* 1 line clamp */
        }

        .date {
            display: inline-block;
            margin-top: 5px;
            color: var(--Dark-Grey, #6a6d6f);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 162%; /* 32.4px */
            @include media-query(breakpoint-md) {
                margin-top: 3px !important;
                font-size: 18px;
            }

            @include media-query(breakpoint-xxl) {
                margin-top: 10px;
                font-size: 20px;
            }
        }

        .short-desc {
            margin-top: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            overflow: hidden;
            color: var(--text---black, #212529);

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 162%; /* 25.92px */

            display: -webkit-box; /* must */
            -webkit-box-orient: vertical; /* must */
            -webkit-line-clamp: 2; /* 1 line clamp */
            @include media-query(breakpoint-md) {
                margin-top: 5px !important;
            }

            @include media-query(breakpoint-xxl) {
                margin-top: 30px !important;
                margin-bottom: 10px !important;
            }
        }

        .seen {
            img {
                max-width: 36px;
                overflow: hidden;
                aspect-ratio: 1;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                @include media-query(breakpoint-md) {
                    max-width: 40px;
                }

                @include media-query(breakpoint-xxl) {
                    max-width: 50px;
                }
            }
            img:not(:first-child) {
                margin-left: -15px;
            }

            & + span svg {
                width: 24px !important;
                @include media-query(breakpoint-md) {
                    width: 32px !important;
                }
            }
        }

        .responses {
            margin-top: 8px;
            color: var(--Primary---blue, #053c5a);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 162%; /* 29.16px */

            @include media-query(breakpoint-xxl) {
                font-size: 18px;
                margin-top: 15px;
            }
        }
    }
    // Blog Card End

    // MiniBlog Card Start
    &--miniBlog {
        padding: 10px;
        border: 1px solid $cool-gray;
        border-radius: 10px;
        background-color: $white-color;
        @include media-query(breakpoint-xl) {
            padding: 15px;
        }
        &:hover {
            @include hover-shadow;
        }

        & .thumb {
            width: 88px;
            height: 88px;
            border-radius: 5px;
            @include media-query(breakpoint-xl) {
                width: 100px;
                height: 100px;
            }
            @include media-query(breakpoint-xxl-2) {
                width: 126px;
                height: 126px;
            }
        }

        & .content {
            & .title {
                font-size: 16px;
                line-height: 1.36;
                font-weight: 600;
                font-family: $secondary-font;
                @include media-query(breakpoint-xl) {
                    font-size: 18px;
                }
                @include media-query(breakpoint-xxl) {
                    font-size: 20px;
                    font-weight: 700;
                }
                @include media-query(breakpoint-xxl-2) {
                    font-size: 22px;
                }
            }

            & .date {
                font-size: 13px;
                color: #939191;
                line-height: 1.39;
                font-family: $secondary-font;
                @include media-query(breakpoint-md) {
                    font-size: 16px;
                }
                @include media-query(breakpoint-xxl) {
                    font-size: 18px;
                }
            }
        }
    }
    // MiniBlog Card End
    
}

.cards{
    &__list-sequence{
        h6{
            font-size: 1em;
            small {
                font-size: 0.85em;
                margin-bottom: 3px;
            }
        }
        .card {
            font-size: 1rem;
            padding: 0.25em;
            border-radius: 1.2em;
            width: 100%;
        }
        .card-body {
            --bs-card-spacer-y: 1.2em;
            --bs-card-spacer-x: 1.6em;
            gap: 0.8em;
            border-radius: 1em;
        }
        .card:nth-child(1){
            font-size: calc(1em - 0.05em);
            .card-body{
                background-color: #EAF4F3;
                --bs-card-spacer-y: .9em;
            }
            width: 85%;
        }
        .card:nth-child(2){   
            .card-body{
                background-color: #F5F9F9;
            }
            width: 90%;
        }
        .card:nth-child(3){   
            font-size: calc(1em + 0.05em);
        }

    }
}