@use '../utils/' as *;
@use '../base/' as *;

.filter {
    &__wrapper {
        position: fixed;
        left: 0;
        top: 3.875rem;
        background-color: $white-color;
        width: 100%;
        height: calc(100vh - 3.875rem);
        overflow-y: scroll;
        max-width: 25rem;
        z-index: 12;
        padding: 0.9375rem 0;
        transform: translateX(-100%);
        transition: all 0.3s ease-in;
        &.show {
            transform: translateX(0%);
        }
        @include media-query(breakpoint-lg) {
            position: inherit;
            height: inherit;
            max-width: 100%;
            border: .0625rem solid $cool-gray;
            border-radius: 0.625rem;
            overflow: inherit;
            transform: translateX(0%);
        }
        @include media-query(breakpoint-xl) {
            padding: 1.25rem 0;
        }
        @include media-query(breakpoint-xxl-2) {
            padding: 1.5625rem 0;
        }
    }

    &__widget {
        border-bottom: .0625rem dashed $light-gray;
        padding: 0.9375rem;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
            border: none;
        }
        @include media-query(breakpoint-xl) {
            padding: 1.25rem .9375rem;
        }
        @include media-query(breakpoint-xxl-2) {
            padding: 1.5625rem .9375rem;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.125rem;
            font-weight: 600;
            color: $text-black;
            width: 100%;
            // margin-bottom: .75rem;
            & span {
                width: 1.5rem;
                height: 1.5rem;
                color: #292d32;
                background-color: $light-gray;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                @include transition-common;
            }
            &[aria-expanded='true'] {
                span {
                    transform: rotate(-180deg);
                }
            }
        }
        &-body {
            padding-top: 0.9375rem;
        }
    }
    &__checkBox {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &--inner {
            padding-top: 0.625rem;
            padding-left: 1.875rem;
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            & .form-checkBox {
                font-size: .875rem;
                & label {
                    & span.indicator {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }
            }
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $dark-gray;
            font-size: 1rem;
            font-weight: 500;
            &--borderd {
                padding: 0.9375rem 0.8125rem;
                border: 0.0375rem solid $light-gray;
                border-radius: 0.3125rem;
                background: #ffffff1a;
                backdrop-filter: blur(1.2833rem);
            }
        }
        &-right {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            width: max-content;
            flex: 0 0 auto;
            & .resultCount {
                font-size: .875rem;
                display: block;
            }
        }
    }
}
