// Customize Bootstrap class and Add.
@use "../utils/" as *;
@use "../base/" as *;

label.form-label{
    cursor: pointer;
}

// Form styles
// --------------------
.form {
    &-label {
        font-size: 0.875rem;
        font-weight: 600;
        color: $cool-gray;
        margin-bottom: 0.375rem;
        line-height: 1;
        @include media-query(breakpoint-xl) {
            margin-bottom: 0.625rem;
            font-size: 1rem;
        }
    }
    &-control:not(textarea) {
        height: 3rem;
        @include media-query(breakpoint-xl) {
            height: 3.75rem;
        }
    }
    &-control {
        color: $text-black;
        border: 0.0625rem solid $cool-gray;
        border-radius: 0.75rem;
        font-size: 0.875rem;
        @include media-query(breakpoint-xl) {
            padding: 1.25rem 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            font-size: 0.875rem;
        }       
        @include media-query(breakpoint-lg) {
            font-size: 1rem;
        }        
        &:focus {
            border-color: $secondary;
            box-shadow: none;
        }
        &--otp {
            width: 100%;
            height: 4rem !important;
            &:focus{
                background: linear-gradient(90deg, rgba($primary, .2), rgba($secondary, .2));
                border-color: $cool-gray;
            }
            @include media-query(breakpoint-md) {
                width: 3.75rem;
                height: 6.25rem !important;
            }
        }
    }
    &-select {
        color: $text-black;
        border: 0.0625rem solid $cool-gray;
        height: 3rem;
        border-radius: 0.75rem;
        font-size: 0.875rem;
        font-weight: 600;
        background-image: url("../images/icons/arrow-down.svg");
        &:focus {
            border: 0.0625rem solid $cool-gray !important;
            border-color: $secondary !important;
        }
        @include media-query(breakpoint-xl) {
            height: 3.75rem;
            padding: 0rem 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            background-size: 1.5rem;
        }
    }

    // FORM CHECK CARD START
    &-check{
        &-label{
            cursor: pointer;        
            font-size: 0.8rem;
        }
        @include media-query(breakpoint-lg) {            
            font-size: 1rem;
        }


        &-input {
            margin-top: 0;
            width: 1.125rem;
            height: 1.125rem;
            @include media-query(breakpoint-lg) {
                width: 1.5rem;
                height: 1.5rem;
            }

            --bs-form-check-bg: #{$light-gray};
            --bs-border-color: #{$cool-gray};

            &:checked[type="radio"] {
                --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='1.5' fill='%23053C5A'/></svg>");
            }
            &[type=checkbox] {
                background-color: transparent;
                border-color: $dark-gray;
                
            }
            &:checked[type=checkbox] {
                background-color: transparent;
                --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%236a6d6f' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
            }
            &:checked {
                border-color: $primary;
                background-color: #cdd8de;
            }

            &:focus {
                box-shadow: none;
            }
        }

        &--card {
            padding: 0.5rem 0.2rem;
            padding-top: 2rem;
            position: relative;
            border: 1px solid;
            margin-bottom: 0;
            background: $light-gray;
            border-color: $light-gray;
            border-radius: 0.75em;
            width: 7rem;

            &.active {
                background: $white-color;
                border-color: $secondary;
            }

            input {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
            }
            .form-check {
                &-input {
                    &:checked[type="radio"] {
                        --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='1.5' fill='%23fff'/></svg>");
                    }
                    &:checked {
                        border-color: $secondary;
                        background-color: $secondary;
                    }
                }
                &-label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 0.9rem;

                    img {
                        padding: 1em;
                    }
                }
            }
        }

        &--pill{
            &.active{
                label{
                    background: $secondary;
                    border-color: $secondary;
                    color: $white-color;
                }
            }
        }
    }

    


    // FORM CHECK CARD END
    &-upload {
        background: linear-gradient(90deg, rgba($secondary, .04), rgba($primary, .04));
        padding: 1.75rem;
        border-radius: 1.25rem;
        border: 2px dashed $cool-gray;
        &__preview img {
            width: 3.5rem;
            height: 4.2rem;
            object-fit: cover;
            border-radius: .75rem;

            @include media-query(breakpoint-lg) {
                width: 4.2rem;
                height: 4.5rem;
            }
        }

    }
}
