@use '../utils/' as *;

.navlink {
  &--menu {
    padding: 0.875rem 0rem;
    margin-bottom: 1.875rem;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 4.375rem;
    & li {
      & a {
        font-size: 1.125rem;
        font-weight: 600;
        color: #6a6d6f;
        text-decoration: none;
        display: inline-block;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
