@use '../utils/' as *;
@use '../base/' as *;

.tag{
    display: inline-flex;
    align-items: center;
    width: max-content;
    padding: .3125rem .625rem;
    border-radius: .3125rem;
    line-height: 1;
    border: .0375rem solid #053C5A1A;
    background: #053C5A1A;
    backdrop-filter: blur(1.2833rem);
    font-size: .75rem;
    color: $text-black;
    font-weight: 500;
    white-space: nowrap;
    gap: .5rem;
    @include media-query(breakpoint-lg){
        font-size: .875rem;
    }

    & .icon {
        cursor: pointer;
    }

    &--secondary{
        background-color: #3CCDAA1A;
        border: .0625rem solid #3CCDAA1A;
        color: $dark-gray;
    }


    &__wrapper{
        width: max-content;
    }


}