/* Error: Can't find stylesheet to import.
 *    ,
 * 13 | @forward 'dropdown';
 *    | ^^^^^^^^^^^^^^^^^^^
 *    '
 *   D:\Projects\124. Seli\seli\assets\scss\components\_index.scss 13:1  @forward
 *   D:\Projects\124. Seli\seli\assets\scss\style.scss 4:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 13 \2502  @forward 'dropdown';\d\a    \2502  ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   D:\\Projects\\124. Seli\\seli\\assets\\scss\\components\\_index.scss 13:1  @forward\a   D:\\Projects\\124. Seli\\seli\\assets\\scss\\style.scss 4:1               root stylesheet";
}
